body {
  font-family: 'Montserrat', sans-serif;
  margin: 2em;
  padding: 0;
  color: #afafbf;
  background-color: #171c28;
  width: 60%;
  margin: 0 auto;
}

section{
  margin-bottom: 4em;
}

#footer {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

h1{
  font-size: 3em;
  font-weight: 700;
  color: #e5e5e5;
}

h2{
  font-weight: 600;
  color: #e5e5e5;
}

h3{
  color: #e5e5e5;

}

a {
color:#0275e6;
}

.skill-tag {
  color:#0275e6;
  padding: .25em .5em;
  margin: 0.2em;
  font-size: 0.8em;
  border: 1px solid #0275e6;
  border-radius: 6px;
}

@media (max-width: 760px){
body{
  width: 90%;
}
}
