.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0em 1em 0em 1em;
  padding: 0;
  font-size: 1em;
}

.footer-child-content {
  display: flex;
  flex-direction: column;
}

.footer-links svg {
  width: 3em;
}
