.project-container {
  display:flex;
  flex-direction:column;
  padding: 2em;
    margin-bottom: 2em;
  border-radius: 12px;
  box-shadow: 0 0 10px 2px rgba(229, 229, 229, 0.3), inset 0 0 10px 1px rgba(229, 229, 229, 0.3);
}

.project-graphic img {
  max-height: 10em;
}

.project-info svg {
  max-width: 1em;
}

.project-name{
  margin-bottom: 0.25em;
}

.skill-tag-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.skill-tag {
  color:#0275e6;
  padding: .25em .5em;
  margin: 0.2em;
  font-size: 0.8em;
  border: 1px solid #0275e6;
  border-radius: 6px;
}

@media (min-width: 760px){
  .project-container{
    display:flex;
    flex-direction: row;
  }
}
